body {
  margin: 0;
}
h1 {
  margin-top: 0;
}

.top-container {
  background-color: #ec4646;
}
.middle-container {
  height: 200px;
  width: 200px;
  background-color: #ffe8e8;
}
.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #c7ffd8;
}
